*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1E1E1E;
    color: white;
}

h1{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 48px;
    line-height: 80px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 48px;
    position: fixed;

    background-color: #1E1E1E;
}

button{
    border: 1px solid #8B5CF6;
    border-radius: 8px;
    padding: 16px 24px;
    background-color: transparent;

    display: flex;
    align-items: center;
    gap: 12px;

    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;   
}

form{
    display: flex;

    width: fit-content;
    padding: 182px 48px 48px;
}

.habits{
        display: flex;
        flex-direction: column;
        gap: 24px;

        margin-top: 75px;
}

.habit{
    width: 40px;
    height: 64px;

    font-size: 32px;
    line-height: 64px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.days{
    display: flex;
    margin-left: 32px;
    gap: 48px;
}

.day{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.day div{
    margin-bottom: 24px;

    color: #A1A1AA;

    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    line-height: 125%;

    text-align: center;
}

input{
    appearance: none;
    -webkit-appearance: none;

    width: 64px;
    height: 64px;

    border: 2px solid #27272A;
    border-radius: 8px;
}

input:checked{
    background: #8B5CF6;

    border: 2px solid #A78BFA;
    border-radius: 8px;
}

@media (max-width: 570px){
    button div{
        display: none;
    }
}